<% include ../partials/header %>
<div class="container">
    <div class="text-center">
        <h2>Edit Comment<h2>
    </div>
    <div style="width:30%; margin: 30px auto ;">
        <form action="/campground/<%=campground_id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
      
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" value=<%= comment.text %>>
            </div>
           
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
        <a href="/campground" >Go back</a>
    </div>      
</div>
<% include ../partials/footer %>