<% include partials/header2 %>
    <div class="container"> 
        <div id="landing-header">
            <div class="text-center" style="padding: 10em 10em 8em 10em">
                <h1>WELCOME to YELPCAMP...</h1>
            </div> 
                <a href="/campground" >
                    <button class="btn badge btn-md ">SEE ALL CAMPGROUNDS</button>
                </a>
        </div>
                <ul class="slideshow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>   
             
    </div>
<% include partials/footer %>
